<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>Add new enzyme</p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </p>
            <p>
                {{ form.catalogue_number.label }}<br>
                {{ form.catalogue_number(size=32) }}
            </p>
            <p>
                {{ form.quantity.label }}<br>
                {{ form.quantity(size=32) }}
            </p>
           <p>{{ form.submit }}</p>
        </form>
    </div>
</body>
</html>